h1{
color:#CD104D;
padding:50px;
font-family:cursive;
}
h2{
  color:#25316D;
  text-align:center;
  padding:150px;
  font-size:50px;
}
body{
  background-color: #C3F8FF;
}
p{
  text-align:center;
  color:#CD104D;
    margin:50px;
    font-family:sans-serif;
    padding:200px;
    font-size:40px;

}
.btn{
 background: linear-gradient(to right,#196BCA ,#6433E0);
 background-color: #196BCA;
 color: #fff;
 font-family: Verdana;
 font-size: 30px;
 font-weight: 900;
 font-style: italic;
 text-decoration: none;
 padding: 5px 15px;
 border: 0 solid #000;
 border-radius: 10px;
 display: inline-block;
   text-align: center;
}
.btn:hover{
 background: linear-gradient(to right,#1866c0 ,#5f30d5);
 background-color: #1866c0;
}
.btn:active{
 transform: scale(0.95);
}
.about{
  text-decoration:none;
  font-size:30px;
  margin:200px;
  line-height:3;
}
.detect-face{
  text-decoration:none;
    font-size:30px;
  margin:200px;
    line-height:3;
}
